/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  max-width: 1280px;
  margin: auto;
}
body {
    background: #F5F5F5;
  font-family: cursive;
}


/* NAVBAR STYLING STARTS */
.navbar {
  position: relative;
display: flex;
  padding: 20px;
margin-bottom: -38px;
  padding-bottom: 46px;
  background: #F5F5F5;
  color: #fff;
}



/* LOGO */
.logo {
margin-left: 200px;
  color: #282739;
  font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 43px;
    text-transform: uppercase;
}
.navbar-seporator {
  border: 1px solid #ECF3FF;
    color: #ebebf0;
      background-color: #ECF3FF;

}
.navbar-menu-item {
margin-left: 45px;
  text-decoration: none;
    list-style-type: none;
    height: 15px;
}
.navbar-menu-link {
  display: flex;
  gap: 30px;
  font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
text-decoration: none;
color: #5D6C7B;
  list-style-type: none;
}
.navbar-phone {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #282739;
    flex: none;
    order: 0;
    margin-left: 800px;
    flex-grow: 0;
}

.navbar-menu {
display: flex;
white-space: nowrap;
flex-direction: row;
justify-content: flex-start;

  padding: 0px;
    gap: 30px;
  margin-top: -15px;
    margin-left: 180px;
}

/* NAVBAR MENU */


.menu-button-text {
font-family: 'cursive';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-left: 25px;

  color: #FFFFFF;
 }
 
 .menu-button {
width: 114px;
position: relative;
height: 40px;
  margin-left: 50px;


background: #6F73EE;
  border: 1.5008px solid #6F73EE;
  border-radius: 5px;
   cursor: pointer;
   }
   
     span {
      
      position: absolute;
      width: 13px;
      height: 1px;
      border: 1.3008px solid #FFFFFF;
      left: 15px;
      background-color: white;
      top: 12px;
     }
.menu-button span:nth-child(1) {
transform: translateY(12px);
  width: 7px;
   
  
}
.menu-button span:nth-child(2) {
transform: translateY(6px);
}
   
.navbar-search{
  margin-left:50px ;
}
.form {
padding: 0;
}
.form-control {
width: 900px;
height: 40px;
color: black;
font-weight: bold;
background: #FFFFFF;
transition: 0.2s ease-in-out;
}
.form-group {
  display: flex;
}
 .form-control  {
    border: 1.5008px solid #6F73EE;
    border-radius: 5px; }

    .search-set {
      display: flex;
      cursor: pointer;
      align-items:center;
      justify-content: center;
      background: #6F73EE;
        border: 1.5008px solid #6F73EE;
        border-radius: 0px 5px 5px 0px;
        width: 40px;
        height: 40px;
    }
    .nav-menu {
      margin-left: 50px;
    }
.nav-menu {
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px;
  cursor: pointer;
}
.shop {
  display: inherit;
  font-family: 'cursive';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282739;
}
.korz {
  margin-left: 10px;
}

.header-image::before {
content: "";
top: 0;
left: 0;
border-radius: 10px;
background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%); 
position: absolute; 
width: 100%;
border-radius: 1px;
z-index: 0;
overflow: visible;
border-radius: 10px 10px 10px 10px;
height: 100%;
}
.header-image {
  background-image: url('img/young-woman-riding-electric-scooter.jpg'); 
background-repeat:no-repeat;
border-radius: 10px;
overflow: visible;

border-radius: 10px 10px 10px 10px;
  width: 1380px;
margin-left: 50px;

position: relative;
    height: 445px;

}
.contain {
 
  padding-bottom: 72px;
}
.button {
  
background: #FFFFFF;
  border: 1.3008px solid #FFFFFF;
  border-radius: 5px;
 font-size: ;
    padding: 15px 25px;
    gap: 10px;
    cursor: pointer;
}
.icon-energy {
    width: 16px;
      height: 16px;
      color: #000;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}
.icon-navig {
  width: 16px;
  height: 16px;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
    margin-left: -21px;
    margin-bottom: -17px;

}
.icon-scooter {
  width: 16px;
    height: 16px;
   

}
.rectangl {

    width: 40px;
    height: 40px;
    overflow: hidden; 
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 5px;
}
.header-content {
  margin-left: 70px;
    margin-top: 50px;
  position: absolute;
}
.header-image {
  position: absolute;
 
}
.header-sovet {
  display: flex;
    white-space: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 20px;
    gap: 20px;
}
.header-address {
  font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    cursor: pointer;
    flex-grow: 0;
}
.header-address2 {
  /* 12 px (regular) */
  
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.header-title2 {
  margin-left: -13px;
  margin-bottom: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.header-title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    max-width: 650px;
    margin-left: -17px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-sovet-text {
  display: grid;
  text-decoration: none;
  font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
}
.text-sovet2 {
  margin-left: 79px;
    margin-top: -38px;
  }

.text-sovet {
margin-left: 52px;
  margin-top: 9px;
  }

/* APPLYING MEDIA QUERIES */
@media (max-width: 1440px) {
  .contain {
      max-width: 1440px;
      margin: auto; } 

            .navbar {
              position: relative;
              display: flex;
              
              padding: 18px;
              margin-bottom: -38px;
              padding-bottom: 46px;
              background: #F5F5F5;
              color: #fff;
            }
      
      
      
            /* LOGO */
            .logo {
              margin-left: 132px;
              color: #282739;
              font-family: 'Jost';
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              line-height: 43px;
              text-transform: uppercase;
            }
      
            .navbar-seporator {
              border: 1px solid #ECF3FF;
              color: #ebebf0;
              background-color: #ECF3FF;
      
            }
      
            .navbar-menu-item {
              margin-left: -2px;
              text-decoration: none;
              list-style-type: none;
              height: 15px;
            }
      
            .navbar-menu-link {
              display: flex;
              gap: 30px;
              font-family: 'Jost';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 17px;
              text-decoration: none;
              color: #5D6C7B;
              list-style-type: none;
            }
      
            .navbar-phone {
              font-family: 'Jost';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 17px;
              color: #282739;
              flex: none;
              order: 0;
            margin-left: 620px;
              flex-grow: 0;
            }
      
            .navbar-menu {
              display: flex;
              white-space: nowrap;
              flex-direction: row;
              justify-content: flex-start;
      
              padding: 0px;
          gap: 32px;
          
            margin-left: 150px;
            }
      
            /* NAVBAR MENU */
      
      
            .menu-button-text {
              font-family: 'cursive';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 23px;
              margin-left: 25px;
      
              color: #FFFFFF;
            }
      
            .menu-button {
              width: 114px;
              position: relative;
              height: 40px;
              margin-left: 36px;
      
      
              background: #6F73EE;
              border: 1.5008px solid #6F73EE;
              border-radius: 5px;
              cursor: pointer;
            }
      
            span {
      
              position: absolute;
              width: 13px;
              height: 1px;
              border: 1.3008px solid #FFFFFF;
              left: 15px;
              background-color: white;
              top: 12px;
            }
      
            .menu-button span:nth-child(1) {
              transform: translateY(12px);
              width: 7px;
      
      
            }
      
            .menu-button span:nth-child(2) {
              transform: translateY(6px);
            }
      
            .navbar-search {
              margin-left: 22px;
            }
      
            .form {
              padding: 0;
            }
      
            .form-control {
              width: 560px;
              height: 40px;
              color: black;
              font-weight: bold;
              background: #FFFFFF;
              transition: 0.2s ease-in-out;
            }
      
            .form-group {
              display: flex;
            }
      
            .form-control {
              border: 1.5008px solid #6F73EE;
              border-radius: 5px;
            }
      
            .search-set {
              display: flex;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              background: #6F73EE;
              border: 1.5008px solid #6F73EE;
              border-radius: 0px 5px 5px 0px;
              width: 40px;
              height: 40px;
            }
      
            .nav-menu {
              margin-left: 50px;
            }
      
            .nav-menu {
              gap: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: -3px;
              cursor: pointer;
            }
      
            .shop {
              display: inherit;
              font-family: 'cursive';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #282739;
            }
      
            .korz {
              margin-left: 10px;
            }
      
            .header-image::before {
              content: "";
              top: 0;
              left: 0;
              border-radius: 10px;
              background: linear-gradient(73.21deg, #6F73EE 17.37%, rgba(111, 115, 238, 0) 67.02%);
              position: absolute;
              width: 100%;
              border-radius: 1px;
              z-index: 0;
              overflow: visible;
              border-radius: 10px 10px 10px 10px;
              height: 100%;
            }
      
            .header-image {
              background-image: url('img/d4a0d849e16ce956e399830f20baadbc.jpg');
              background-repeat: no-repeat;
              border-radius: 10px;
              overflow: visible;
              border-radius: 10px 10px 10px 10px;
              width: 1378px;
              
              height: 445px;
      
            }
      
            .contain {
      
              padding-bottom: 72px;
            }
      
            .button {
              background: #FFFFFF;
              border: 1.3008px solid #FFFFFF;
              border-radius: 5px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 15px 25px;
              gap: 10px;
              cursor: pointer;
            }
      
            .icon-energy {
              width: 16px;
              height: 16px;
              color: #000;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
      
            .icon-navig {
              width: 16px;
              height: 16px;
              color: #000;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              position: relative;
              margin-left: -21px;
              margin-bottom: -17px;
      
            }
      
            .icon-scooter {
              width: 16px;
              height: 16px;
      
      
            }
      
            .rectangl {
      
              width: 40px;
              height: 40px;
              overflow: hidden;
              background: #FFFFFF;
              opacity: 0.2;
              border-radius: 5px;
            }
      
            .header-content {
              position: relative;
              margin-left: 154px;
                margin-top: 58px;
            }
      
            .header-image {
              
      margin-left: 35px;
        margin-top: -12px;
        margin-right: 0px;
            }
      
            .header-sovet {
              display: flex;
              white-space: nowrap;
              flex-direction: row;
              justify-content: flex-start;
              position: relative;
              margin-bottom: 20px;
              gap: 20px;
            }
      
            .header-address {
              font-family: 'Jost';
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 17px;
              color: #FFFFFF;
              flex: none;
              order: 0;
              cursor: pointer;
              flex-grow: 0;
            }
      
            .header-address2 {
              /* 12 px (regular) */
      
              font-family: 'Jost';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 17px;
              color: #FFFFFF;
              opacity: 0.7;
              flex: none;
              order: 1;
              flex-grow: 0;
            }
      
            .header-title2 {
              margin-left: -21px;
              font-family: 'Jost';
              font-style: normal;
              font-weight: 400;
                margin-bottom: 20px;
              font-size: 20px;
              line-height: 29px;
              color: #FFFFFF;
            }
      
            .header-title {
              font-family: 'Jost';
              font-style: normal;
              font-weight: 600;
              font-size: 35px;
              max-width: 650px;
              margin-left: -17px;
              line-height: 51px;
              text-transform: uppercase;
              color: #FFFFFF;
            }
      
            .header-sovet-text {
              display: grid;
              text-decoration: none;
              font-family: 'Jost';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              color: #FFFFFF;
              list-style-type: none;
            }
      
            .text-sovet2 {
              margin-left: 79px;
              margin-top: -38px;
            }
      
            .text-sovet {
              margin-left: 52px;
              margin-top: 9px;
            }
    }
